/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move-left-right {
  0% {
    transform: translateX(-24px);
  }
  100% {
    transform: translateX(-20px);
  }
 } 

.contour {
  transition: fill .1s linear;
}

.main-body {
  transition: fill .3s linear;
}

.core {
  transition: fill .3s .03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core{  
  transition: fill .3s linear;
  fill: var(--accent-color, #000);  
}

.like-icon:hover .main-body{  
  transition: fill .3s .05s linear;
  fill: var(--accent-color, #000);
}

.like-icon:active .core{
  fill: var(--like-fill-color, #FF0000);  
  transition: fill .3s linear;
}

.like-icon:active .main-body{
  fill: var(--like-fill-color, #FF0000);  
  transition: fill .3s .05s linear;
}

/* 
  Вот что происходит при клике:
1. Закрашивается сердцевина.
2. С небольшой задержкой закрашивается основное тело.
3. Еще с большей задержкой закрашивается контур.
4. Происходит небольшое масштабирование сердца и возврат к исходному масштабу.
5. Становятся видимыми и пропадают искры.
  Перекрашивать сердцевину и основное тело вы уже умеете. 
Абсолютно те же самые параметры, что и при состоянии active. 
После этого с небольшой задержкой в 0.06s перекрашивайте контур. 
Длительность всех анимаций — 0.3s. 
Анимация контура, исходя из текста задания, 
начинается после начала или после завершения анимации main-body
  
  Я и посчитал задержку анимации 0.05 + 0.06 = 0.11 или нужно 0.05 + 0.06 + 0.3 = 0,41.
Или подразумевается, что 0.06с это задержка после начала самой первой анимации?
Исходя из видео примера, контур начинает перекрашиваться с задержкой
от начала закрашивания тела и до начала анимации увеличения в размерах (но не похоже на разницу всего в 0.01с).
Т.е. правильный ответ зависит от трактовки задания, которая в данном случае неочевидна
и требует разъяснений/уточнений.
*/

.like-icon.is-liked .contour {
  fill: var(--like-fill-color, #FF0000);  
  transition: fill .3s .06s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--like-fill-color, #FF0000);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .core {
  fill: var(--like-fill-color, #FF0000);
  transition: fill .3s linear;
}

.like-icon.is-liked {
  fill: var(--like-fill-color, #FF0000);
  transition: fill .3s ease-in;
  animation: heart-scale .3s .1s ease-in 1 alternate;
  transform-origin: center;
}

@keyframes heart-scale {
  0% {
      transform: scale(1);
    }
    
  100% {
      transform: scale(1.5);
    }  
}

.like-icon.is-liked .sparks {
  animation: sparks-fade-in .3s .3s ease-in 1 alternate;
  transform-origin: center;
}

@keyframes sparks-fade-in {
  0% {
      opacity: 0;
    }
    
  100% {
      opacity: 100%;
    }  
}

