/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --background-color: #fff;
  --accent-color: #000;
  --like-contour-color: #000;
  --like-fill-color: #FF0000;
  --button-text-color: #000;
  --background-colorX: #d3d3d3;
  --background-colorX-end: #d3d3d300;
  --background-colorY: #e7e7e7;
  --background-colorY-end: #1a1a1a;
  --background: 
      repeating-linear-gradient(to right, var(--background-colorX), var(--background-colorX) 2px, var(--background-colorX-end) 2px, var(--background-colorX-end) 4px),
      repeating-linear-gradient(to bottom, var(--background-colorX), var(--background-colorX) 2px, var(--background-colorX-end) 2px, var(--background-colorX-end) 4px),
      linear-gradient(180deg, var(--background-colorY) 0.01%, var(--background-colorY-end) 100%);  
  --width: min(100%, 700px);
}
